.cv-container {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cv-title {
  margin-top: 20px;
  color: #007bff;
  border-bottom: 1px solid #007bff;
}

h3 {
  margin-top: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.contact {
  margin-bottom: 20px;
}

.contact p {
  margin: 5px 0;
}

.profile-exit-button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid var(--color-red);
  background-color: transparent;
  color: var(--color-red);
}

.profile-exit-button:hover {
  background-color: var(--color-red);
  color: var(--color-xdark);
}

.dates {
  color: #007bff;
  float: right;
  font-size: 1rem;
  font-weight: bold;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content-png {
  vertical-align: middle;
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
