.index-container {
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.index-title {
  margin-bottom: 40px;
  color: white;
  font-size: var(--font-size-xlarge);
  font-weight: 900;
}

.index-content {
  display: flex;
  max-width: 1000px;
  gap: 20px;
}

.index-content button {
  width: 500px;
  height: 500px;
  background-color: var(--color-xdark);
  color: var(--color-light);
  font-size: var(--font-size-large);
  border: none;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-content button:hover {
  background-color: transparent;
  border: 3px solid var(--color-xdark);
  transform: translateY(-2px);
}

.index-picture {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
  max-height: 200px;
}

@media screen and (min-width: 768px) {
  .index-picture {
    width: 25%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .index-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .index-button {
    flex: 1;
    max-width: 40%;
  }
}
