.drag-question-container {
  padding: 20px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
}

.drag-question-container h2 {
  color: var(--color-primary);
  margin: 10px;
  text-align: center;
  font-size: var(--font-size-large);
}
