.fill-input-container {
  padding: 20px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
}

.fill-input-container h2 {
  color: #61dafb;
  margin: 10px;
  text-align: center;
}

.fill-content {
  background-color: #1a1d23;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.paragraph {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin: 5px;
  padding: 5px;
  align-items: center;
}

.text {
  margin: 5px;
  font-size: 1.2rem;
  align-items: center;
  text-align: justify;
}
