.quiz-container {
  display: grid;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar Styles */
.sidebar {
  background-color: #1a1d23;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  z-index: 1000;
  border-right: 1px solid #3a3f4b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar-questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

.main-content {
  grid-column: 2;
  margin-left: 50px;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #282c34;
}

.submit-button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #62e368;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(97, 218, 251, 0.4);
}

/* Responsive Styles for Small Screens */
@media screen and (max-width: 768px) {
  .quiz-container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    height: 100px;
    padding: 10px;
    z-index: 1000;
  }

  .main-content {
    grid-column: 1;
    margin-left: 0;
    /* Adjust height to account for both sidebar and keyboard when visible */
    height: calc(100vh - 100px); /* Normal height without keyboard */
    padding-bottom: 100px;
  }

  .sidebar-questions {
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap; /* Allow buttons to wrap if needed */
    gap: 5px;
    margin-right: 20px;
  }

  .sidebar-questions .general-button,
  .sidebar-questions .submit-button,
  .sidebar-questions .exit-button {
    flex: 1;
    font-size: 0.6rem;
  }

  .sidebar-questions .general-button:hover,
  .sidebar-questions .submit-button:hover,
  .sidebar-questions .exit-button:hover {
    transform: none;
    box-shadow: none;
  }

  .general-button {
    font-size: 0.5rem;
    padding: 5px;
    border: 1px solid #2cd1fe;
  }

  .general-button.active {
    background-color: #2cd1fe;
    border-radius: 5px;
    color: #ffffff;
    transform: scale(1);
  }
}

/* ____________________________________________ */
/* __________ overlay  and timer ______________ */
/* ____________________________________________ */

.submitting-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out;
  z-index: 1000;
}

.submitting-content {
  text-align: center;
  color: white;
  background-color: #1a1d23;
  padding: 20px;
  border-radius: 10px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #61dafb;
  border-radius: 50%;
  margin: 0 auto 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.timer-container {
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  position: relative;
}

.inner-timer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1a1d23;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.timer-text {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.timer-add-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #1a1d2380;
  color: greenyellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.timer-add-button:hover {
  background-color: #1a1d23;
  transform: translateY(-2px);
}

.virtual-keyboard-container {
  background-color: #282c34;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 400;
  bottom: 0;
}
