.card-question-container {
  display: flex;
  flex-wrap: wrap;
}

.card-question-title {
  display: block;
  width: 100%;
  font-size: var(--font-size-large);
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  color: var(--color-primary);
}

.card-content {
  padding: 10px;
  margin: 10px;
}

.flashcard {
  width: 150px;
  height: 200px;
  cursor: pointer;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  border-radius: 12px;
}

.flashcard-back {
  transform: rotateY(180deg);
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.card-icon {
  object-fit: contain;
}
